.container {
  background-color: gray;
  /* width: 500px; */
}
.banner {
  width: 500px;
  height: 500px;
}

.chat {
  text-align: center;
}
.chat > button {
  margin-left: 10px;
}
.banner-image {
  width: 100%;
  height: 500px;
}
ul {
  list-style: none;
  margin-top: 15px;
}
li {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.icon {
  float: right;
}
